---
import { load } from 'cheerio'
import Heart from '@/components/Heart.astro'
import Layout from '@/layouts/Layout.astro'
import { getTagline, getTimelineItems } from '@/src/lib/api'
import RichTextResolver from 'storyblok-js-client/dist/rich-text-resolver.cjs'

let data = undefined

try {
  let arePosts = true,
    page = 1,
    Timeline = {}
  while (arePosts) {
    let tempTimeline = (await getTimelineItems(5, page)) || []
    if (tempTimeline.length > 0) {
      tempTimeline.forEach((a) => {
        if (Timeline.hasOwnProperty(a.content.Year)) {
          Timeline[a.content.Year].push(a)
        } else {
          Timeline[a.content.Year] = [a]
        }
      })
      page += 1
    } else {
      arePosts = false
    }
  }
  const aboutTagline = await getTagline('about')
  data = { aboutTagline, Timeline }
} catch (e) {
  console.log(e)
}

let aboutTaglineHTML = new RichTextResolver().render(data.aboutTagline)
const $ = load(aboutTaglineHTML)
$('p').addClass('mt-2 font-light text-slate-600 dark:text-slate-400')
aboutTaglineHTML = $('p').parent().html()
---

<Layout valid={data} content={{ title: 'About Me - Rishi Raj Jain' }}>
  <div class="flex w-full flex-col items-center text-[14px]">
    <div class="mt-10 flex w-[90vw] max-w-[540px] flex-col">
      <h1 class="text-3xl font-bold text-zinc-700 dark:text-gray-300">About Me</h1>
      <Fragment set:html={aboutTaglineHTML} />
      <h2 class="mt-16 text-3xl font-bold text-zinc-700 dark:text-gray-300">My Timeline</h2>
      {
        Object.keys(data.Timeline)
          .sort((a, b) => (a > b ? -1 : 1))
          .map((item) => (
            <div class="mt-8 flex flex-col">
              <span class="text-lg font-semibold text-zinc-600 dark:text-gray-400">{item}</span>
              {data.Timeline[item].map((exp) => (
                <div class="relative mt-5 flex flex-row items-start space-x-5">
                  <div class="mt-1 h-[12px] w-[12px]">
                    <Heart width={12} height={21} />
                  </div>
                  <div class="flex flex-col">
                    <span class="text-md font-semibold text-zinc-600 dark:text-gray-400 sm:text-lg">{exp.content.Title}</span>
                    <Fragment
                      set:html={load(new RichTextResolver().render(exp.content.Description))('p')
                        .addClass('font-light text-slate-600 dark:text-slate-400')
                        .parent()
                        .html()}
                    />
                  </div>
                </div>
              ))}
            </div>
          ))
      }
    </div>
  </div>
</Layout>
