---
import Toggle from './Toggle.astro'
import HeaderLink from './HeaderLink.astro'
---

<nav class="sticky top-0 z-10 flex w-full flex-col items-center bg-white dark:bg-black">
  <div class="flex w-full max-w-[90vw] flex-row items-center justify-between sm:px-10 lg:max-w-[75vw]">
    <Toggle />
    <div class="relative flex max-w-[258px] flex-row items-center space-x-5 overflow-x-scroll sm:max-w-none sm:overflow-x-hidden">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/blogs">Blogs</HeaderLink>
      <HeaderLink href="/cv">CV</HeaderLink>
      <HeaderLink href="/storyblok">Storyblok</HeaderLink>
    </div>
  </div>
</nav>
