---
import Header from '../components/Header.astro'
import BaseHead from '../components/BaseHead.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'

export interface Props {
  content: {
    title?: string
    description?: string
  }
  valid: Object
}

const {
  content: { title = SITE_TITLE, description = SITE_DESCRIPTION },
  valid,
} = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style is:global>
      .heading_hover_hash:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      .heading_hover_hash:hover::before {
        content: '#';
        opacity: 0.5;
        color: gray;
        margin-right: 10px;
      }
    </style>
  </head>

  <body class="bg-white dark:bg-black min-h-screen font-display">
    <Header />
    <main class="flex flex-col items-center text-black dark:text-gray-200">
      <div class="flex w-full max-w-[90vw] lg:max-w-[75vw] flex-col py-10 sm:px-10">
        {valid && <slot />}
      </div>
    </main>
    <link as="font" type="font/woff2" crossorigin="anonymous" href="/fonts/inter-var.woff2" />
    <script defer>
      let t

      const link = document.createElement('link')
      link.rel = 'stylesheet'
      link.href = '/css/dark.css'

      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme')
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }
        return 'light'
      })()

      if (theme === 'light') {
        document.documentElement.classList.remove('dark')
        if (t) t.remove()
      } else {
        document.documentElement.classList.add('dark')
        if (t) {
          document.body.appendChild(t)
        } else {
          t = document.body.appendChild(link)
        }
      }
      window.localStorage.setItem('theme', theme)

      const toggleTheme = () => {
        let existingTheme
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          existingTheme = localStorage.getItem('theme')
        }
        if (existingTheme) {
          if (existingTheme === 'dark') {
            document.documentElement.classList.remove('dark')
            if (t) t.remove()
            window.localStorage.setItem('theme', 'light')
          } else {
            document.documentElement.classList.add('dark')
            if (t) {
              document.body.appendChild(t)
            } else {
              t = document.body.appendChild(link)
            }
            window.localStorage.setItem('theme', 'dark')
          }
        }
      }
    </script>
    <script defer is:inline src="/__layer0__/service-worker/install.js"></script>
    <link rel="stylesheet" href="/fonts/inter-var.woff2" media="print" onload="this.onload=null;this.media='all'" />
    {
      Astro.url.pathname.includes('/blog/') && (
        <link rel="stylesheet" href="/css/light.css" media="print" onload="this.onload=null;this.media='all'" />
      )
    }
  </body>
</html>
